body{
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: auto;
}
.name{
 
  color: black;
}
.add{
  display: flex;
margin-left: 20px;
}
.add  i:hover{
color: red;
} 
.pr{
  margin-left: 120px;
  
}
.navlist{
  display: flex;
  list-style-type: none;
  gap: 1em;
}

  .box1{
  height: 400px;
  width: 600px;
  border: 1px solid cadetblue;
  border-radius: 10px;
  margin-top: 60px;  
  margin-left: 350px;
  background-image: url(https://t3.ftcdn.net/jpg/08/97/07/86/360_F_897078648_733jVrqoH5LXB6EWc2607kQr2jaANQnk.jpg)
 } 
  .box1 h4{
    font-size: 30px;
    color:white;
    text-align: center; 
    margin-top: 20px;
   }
  .mylog1{
 height: 100vh;
   width: 100vw;
  background-image: url(https://www.baltana.com/files/wallpapers-5/Light-Background-HD-Wallpapers-16374.jpg);
}
.mylog{
  text-align: center;
}
  
  .mylog input{
    border: 1px solid black;
    margin: 5px;
    /* background-color: cadetblue; */
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    border: 1px solid cadetblue;
  }
   .mylog input ::placeholder{
    color: blue;
   }
  .mylog label{
    font-size: 25px;
    width: 50px;
    height: 100px;
    color: white;
  }
  .mylog button{
    background-color:cornflowerblue;
    margin-right: 100px;
    font-size:15px ;
    margin-left: 100px;
  }
  .mylog a{
    font-size: 20px;
    /* margin: 20px; */
    
    color: white;
    border-radius: 10px;
    width: 100px;
  }
  .mylog p{
    margin: 20px;
    color:white;
  }
  
.navlist li a{
  
  /* display: flex; */
 /* justify-content: center;
align-items: center;
text-align: center; */
 margin: 5px; 

font-size: 40px;
color: black;

}
.newdiv link{
  color: black;
}

.newdiv button i{
  margin-bottom: 5px;
} 
.newdiv{
  background-color:black; 
 height: 70px;
width: 100%;  
position: fixed ;top:0;
left: 0;
align-items:left; 
font-size: 20px;
color: black;
display: flex;
}
.contact{
 background-color:black;  
 height: 70px;
 width: 100%; 
 color: black;
  position: fixed ;bottom: 0;
  display: flex;
  
  
}
.navlist i{
  color:white;
}
.hd{
  text-align: center;
  color:darkslategray;
  font:bolder;
  margin-top: 5px;
 }
.contact li a{
  color: whitesmoke
}
.end1{
   list-style-type: none;
  gap: 2em;
  position: sticky;
margin-left: 350px;
 color:white;
  display: flex;
 }
.mp{
   margin-left: 150px; 
   padding-top: 0rem;
}
.pic img{
  margin-left: 150px;
  width: 350px;
  
}
.combo img{
  height: 120px;
  width: 120px;
  margin-left: 20px;
  
}
.sign h1{
 

  font-size: 30px; 
  color: cadetblue;
  margin-top: 20px;
  margin-left: 10px;
}
.pic{
  display: flex;
}
.box{
  height: 30px;
  width: 80px;
  border: 2px solid black;
  margin: 10px;
  text-align: center;
  align-content: center;
  background-color:darkcyan;
}
.all{
  display: flex;
  justify-content: center;
  align-items: end;
  
}
h2{
  /* margin-left: 100px; */
  font-size: 20px;
}
.pic p{
  margin-left: 20px;
  margin-top: 0px;
}
.combo{
  display: flex;
 
}
.jpg img{
  margin: 15px;
  width: 180px;
}
.jpg{
  display: flex;
}
.mart{
  display: flex;
}
.product{
 
  display: flex;

 margin-top: 40px;
 
 background-color:gainsboro ;
   
}
.fullproduct{
   background-color:gainsboro ;
   height: 100vh;
   width: 100vw;
}
 .product1{
  background-color:darkgrey;
  width: 400px;
  height: 350px;
  border-radius: 20px;


} 
.card-container{
   
    /* margin-left: 200px;   */
   /* display: flex;
   align-content: center; 
   align-items: center;
   justify-content: center;   */
     height: 100vh;  
     width: 100vw;    
    
}  
 .show{
     border: 1px solid black; 
    width: 280px;
    height: 300px;
    margin: 10px;
    background-color:darkgrey;
    
} 
.myshow{
  display:flex;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-top: 40px;
}
.item{ 
   margin-left: 150px;
}

 .mylog{
 
  margin-top: 20px;
} 


 
   .connect{
    
    height: 100vh;
    width: 100vw;
   margin-left: 300px;
    margin-top: 80px;
    display: flex;
   
   }
   .box4{
  
      height: 500px;
 
  border: 1px solid black;
   margin-left: 200px;
   
   margin-bottom: 100px;
   }
    .link{
    color:cornflowerblue;
   }
   .page1{

    background-color:dimgrey;
     height: 100vh;
    width: 100vw;
    display: flex;
   }
   .page1 img{

height: 400px;
width: 550px;
margin-top: 70px;
}

   h5{
    font-size: 40px;
   margin-top: 0px;
   }
   p{
    font-size: 20px;
   }
   .box7{
    height: 50px;
    width: 150px;

    color: white;
    margin: 10px;
    border-radius:0lh;
   }
   .com{
    display: flex;
    
   }
   h6{
    font-size: 50px;
    color: white;
    margin-top: 0px;
    padding-top: 0px;
    font-style: italic;
   }
   
  h3{
    margin-left: 60px;
    font-size: 20px;
    font-style: oblique;
    margin: 30px;
    color: white;
  }
  
  
   .list{
    display: flex;
   }
   .box10{
     height: 50px;
    width: 200px;
border: 1px solid black;
    color: black;
    
    border-radius: rounded lg;
   margin: 10px;
   margin-left: 40px;
    text-align: center;
    font-style: italic;
    background-color: aliceblue;
   margin: 20px;
   }
   .box11{
        
         margin-top: 60px;
        
   }
   .box12{
      height:450px;
    width: 600px;
border: 1px solid black;
    color: black;
    border-radius: rounded lg;
   margin-left: 70px;
    text-align: center;
    font-style: italic;
   

   }
    .box15 button{
   
    margin-left: 100px;
    margin: 10px;
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: cadetblue;
    
   } 
   .box15{
    background-color: darkslategray;
     width: 220px;
     height: 200px;
     margin-left: 20px;
    margin: 20px;
     border-radius: 10px;
   }
   .mycontact{
    /* position: relative; */
   height: 100vh;
   width: 100vw;
   /* padding: 50px 100px;  */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* margin-left: 250px; */
   background-image: url(https://www.baltana.com/files/wallpapers-5/Light-Background-HD-Wallpapers-16374.jpg);
  
   }
   .mycontact .content{
    max-width: 800px;
    text-align: center;
   }
    .mycontact .content h2{
      font-size: 40px;
      color: black;
    }
    
     .mycontact .content p{
      font-weight: 300;
      
     }
   
   .mycontactinfo{
    width: 100%;
      display: flex;
      justify-content: center;
    align-items: center;
   }
.form1
   {
    border-bottom: 1px solid black;
    margin: 20px;
   }
.form1 input{
  margin-bottom: 20px;
}
form h2{
  font-size: 20px;
 text-align: center;
  color: black;
  margin-right: 30px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color:white;
  margin-top: 10px;
}
.m{
  
  margin-bottom: 80px;
  width: 1000px;

}
form{
  margin-left: 40px; 
}

.text1{
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.box20 h2{
 color:cornflowerblue;
 font-size: 30px;
 font: bold;
}
.fo{
  
  margin-left: 150px;
  background-color: cornflowerblue;
height: 320px;
width: 350px;
  
}
.content{
  margin-bottom: 30px;
  margin-left: 50px;
  margin-top: 10px;
  
}
.content p{
  font-size: 15px;
}
.head h2{
  border: 1px solid black;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  color:black;
  background-color: cornflowerblue;
  text-align: center;
  margin-left: 40px;
}
.sign{
 
  height: 100vh;
  width: 100vw;
  background-image: url(https://www.baltana.com/files/wallpapers-5/Light-Background-HD-Wallpapers-16374.jpg);
 
 
}


.sign1{
  height: 400px;
  width: 700px;
  
  border-radius: 10px;
   margin-top: 60px;
   display: flex;
 margin-left: 300px;
   background-image: url(https://t3.ftcdn.net/jpg/08/97/07/86/360_F_897078648_733jVrqoH5LXB6EWc2607kQr2jaANQnk.jpg);

}

.side1{
  height: 400px;
  width: 300px;
 
 
}

.myform input{
   border: 1px solid lightblue;
   border-radius: 10px;
   margin-left: 20px;
   width: 150px;
   color: white;
}
.myform label{
  color: white;
}

.myform p{
   color: white;
   margin: 10px;
}
.myform Link{
  color: white;
  width: 150px;
  border-radius: 10px;
  margin: 20px;
}
.myform h3{
  background-color: cornflowerblue;
  border-radius: 10px;
  text-align: center;
}
.myform button{
  background-color: cornflowerblue;
}
.f2{
  margin-left: 400px;
}
.f3{
  margin-left: 200px;
}
.add button{
  background-color:lightblue;
}
/* .card{
 display: grid;
   grid-template-rows: repeat(3, 1fr);  
}  */
.atc{
 
  /* margin-bottom: 10px; */
 
  display: flex;
  justify-content: center;
  color: black
  /* font: bold;
 border-radius: 0px; */
}
.atc button{
  background-color:cadetblue;
  border-radius: 100px;
  border: 1px solid black;

 margin: 5px;
 text-align: center;
}

.heart{
   background-color:gainsboro;
    margin-left: 40px;
    margin-bottom: 5px;
    
}
.mycart i{
  color:cornflowerblue ;
  
}
.product img{
   width: 200px;
}
.sidebutton{
  display: flex;
  flex-direction: row;
  /* width: 1200px; */
}
.nav-button{
border: 1px solid black;
border-radius: 50%;
background-color:cadetblue; 

}
.mycart1{
  background-color:white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  margin: 1px;
}
.fullproduct img{
    margin-left: 80px;
}
